%h1
  = I18n.t('mailer.confirmation.title')
  = @email

%p
  = I18n.t('mailer.confirmation.text')
  %br
  = link_to I18n.t('mailer.confirmation.link'), "#{ENV['APP_WEB']}/users/confirmation?confirmation_token=#{@token}"
