!!!
%html
  %head
    %title= "Open BD | #{@title}"
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    = render 'shared/top'
    .container
      = yield
